<h3>Login</h3>

<div class="">
  <form action="/auth/login" method="post" class="">
    <div class="">
      <label for="email">Email</label>
      <input type="text" name="email" id="email">
    </div>
    <div class="">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>
    <button class="" type="submit" name="action">Sign Up</button>
  </form>
</div>