<h3 class="f3 lh-title tc tl-ns mt6 ma3-ns">Login</h3>

<form action="/auth/login" method="post" class="measure pa4 black-80">
  <div>
    <label for="email" class="f6 b db mb2">Email</label>
    <input type="text" name="email" id="email" class="input-reset ba b--black-20 pa2 mb2 db w-100">
  </div>
  <div>
    <label for="password" class="f6 b db mb2">Password</label>
    <input type="password" name="password" id="password" class="input-reset ba b--black-20 pa2 mb2 db w-100">
  </div>
  <input class="f6 grow no-underline br-pill ba bw2 ph3 pv2 mb2 dib dark-green b--dark-green" type="submit" value="Log In">
</form>
