<h3>Login</h3>

<!-- TODO: username and password -->
<div>
  <form action="/auth/login" method="post">
    <div>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" placeholder="i.e. MrUsername98">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="text" name="password" id="password" placeholder="Password">
    </div>
    <input type="submit" value="Log Me In">
  </form>
</div>