<h2>Sign Up!</h2>


<div class="">
  <form action="/auth/signup" method="post">
    </div>
    <div class="">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%= oldInfo ? oldInfo.email : '' %>">
    </div>
    <div class="">
      <label for="new-username">Username:</label>
      <input type="text" name="username" id="new-username" value="<%= oldInfo ? oldInfo.username : '' %>">
    </div>
    <div class="">
      <label for="avatar_img">Avatar Image Url:</label>
      <input type="url" name="avatar_img" id="avatar_img"  value="<%= oldInfo ? oldInfo.avatar_img : '' %>">
    </div>
    <div class="">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
    </div>
    <div class="">
      <label for="password-check">Verify Password:</label>
      <input type="password" name="passwordCheck" id="password-check">
    </div>
    <button class="" type="submit" name="action">Sign Up</button>
  </form>
</div>