<h1>Show all spells!</h1>

<div>
  <h4>Find By Class</h4>
  <ul id="by-class">
  </ul>
</div>
 
<hr>

<div id="spell-list">

</div>

<script>
  var spells = <%- JSON.stringify(spells) %>;
  var cClasses = <%- JSON.stringify(cClasses) %>;
  var schools = <%- JSON.stringify(schools) %>;
</script>
<script src="/spellsIndex.js"></script>