<h1>Show all spells!</h1>

<div>
  <h4 class="toggle-hidden"><strong>Find By Class</strong></h4>
  <ul id="by-class" class="hidden">
  </ul>
</div>

<div>
  <label for="name-contains">Search By Name: </label>
  <input type="text" name="name-contains" id="name-contains">
</div>

<hr>

<div id="spell-list">

</div>

<script>
  // 
  var SPELLS = <%- JSON.stringify(spells) %>;
  var C_CLASSES = <%- JSON.stringify(cClasses) %>;
</script>
<script src="/spellsIndex.js"></script>