<h1>Show all spells!</h1>

<!-- <form action="/spells" method="get">
  <label for="nameSearch">Search by Name</label>
  <input type="text" id="nameSearch" name="nameSearch">
  <input type="submit">
</form> -->

<ul>
  <% spells.forEach(spell=>{ %>
    <li><a href="/spells/<%= spell.id %>"><%= spell.name %></a></li>
  <% }) %>
</ul>