<h1 class="f2 lh-title tc mt6 ma3-n">All Spells</h1>

<div class="db dt-l w-100 border-box pv3">
  <div id="class-list" class="hidden bg-white-90 db dt-l w-100 border-box pa3">
  </div>
  <h4 class="toggle-hidden db dtc-l v-mid mid-gray link dim w-100 w-20-l tc tr-l mb2 mb0-l pa3"><strong>Find By Class</strong></h4>
</div>

<div>
  <label for="name-contains">Search By Name: </label>
  <input type="text" name="name-contains" id="name-contains">
</div>

<hr>

<div id="spell-list">

</div>

<script>
  // 
  var SPELLS = <%- JSON.stringify(spells) %>;
  var C_CLASSES = <%- JSON.stringify(cClasses) %>;
</script>
<script src="/spellsIndex.js"></script>