<h1>Create A Spellbook</h1>

<form action="/profile/add" method="post">
  <label for="name">Character Name: </label>
  <input type="text" name="name" id="name">
  <label for="level">Level: </label>
  <input type="number" name="level" id="level">
  <label for="characterClass">Class: </label>
  <input type="text" name="characterClass" id="characterClass">
  <input type="hidden" name="userId" value="filler">
  <input type="submit" value="Create Character!">
</form>