<h1>Welcome <%= user.username %></h1>

<div class="">
  <div class="">
    <div>
      <img src="<%= user.avatar_img %>" alt="<%= user.username %>'s avatar picture'">
    </div>
  </div>
  <div class="">
    <h3><%= user.username %> has  Spellbooks</h3>
    <p>SPELLBOOKS</p>
  </div>
</div>