<% if(alerts.error) {%>
  <div class="alert-card">
    <div class="">
      <div class="">
        <div class="">
          <span class="">Error</span>
          <% alerts.error.forEach(function(msg){ %>
            <p><%= msg %></p>
          <% }); %>
        </div>
        <div class="">
          <p class="closeable">Close</p>
        </div>
      </div>
    </div>
  </div>
<% } %>

<% if(alerts.success) {%>
  <div class="alert-card">
    <div class="">
      <div class="">
        <div class="">
          <span class="">Success</span>
          <% alerts.success.forEach(function(msg){ %>
            <p><%= msg %></p>
          <% }); %>
        </div>
        <div class="">
          <p class="closeable">Close</p>
        </div>
      </div>
    </div>
  </div>
<% } %>

<script>
  [...document.getElementsByClassName("closeable")].forEach(elem => {
    elem.addEventListener("click", ()=>{
      document.getElementsByClassName("alert-card")[0].setAttribute("class", "hidden");
    })
  });
</script>

