<h1>Bad News Bears</h1>

<div class="">
  <div class="">
    <img src="http://bestanimations.com/Animals/Mammals/Bears/black-bear-winter-gif.gif" alt="gif of a bear shaking its head">
    
    <p>Something went wrong!</p>
  </div>
</div>
