<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Auth Boiler</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <nav class="sidenav-trigger">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Logo</a>
          <a href="#" data-target="nav-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/Login">Login</a></li>
          </ul>
        </div>
    </nav>
    <ul class="sidenav" id="nav-links">
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/Login">Login</a></li>
    </ul>

  <main>
    <div class="container">
      <%- body %>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/main.js"></script>
</body>
</html>