nav {
  background-color: #8ddb7a8c;
  min-height: 50px;
  padding: 15px 0 0 15px;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  size: 28px;
  color: #10aa8e;
  padding: 0 10px;
}

nav a:hover {
  color: rgb(88, 21, 74);
}