.alert-card {
  background: rgba(44, 44, 44, 0.61);
}

.message {
  top: 25%;
  width: 100%;
  position: absolute;
}

input {
  padding: 3px;
}

.hidden {
  display: none;
}
 footer {
  left:0px;
  bottom:0px;
  height:35px;
  width:100%;
 }